.wrapper{
    position: relative;
    display: flex;
    height: 70vh;
    background-color: white;;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
}
.container{
    height: auto;
    position: absolute;
    top: 150px;
    margin-top: 0px;
    left: 100px;
}
.paper{
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}
.date{
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}
.bold-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.number{
    color: #1488D8;
    font-weight: bold;
}
.button{
  transform: translateY(-5px);
  width: 300px;
  text-decoration: none;
  border: solid 2px white;
  background-color:#1488D8;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.1s ease-in;
}
.label-paper{
    border-radius: 10px;
    margin-left: 40px;
}

.label-date{
    color: white;
    border-radius: 10px;
    transform: translateX(289px);
}
.button-date{
    transform: translateY(-5px);
    width: 300px;
    text-decoration: none;
    border: solid 2px white;
    background-color:#1488D8;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.1s ease-in;
    transform: translateX(310px);
}
.label-input {
    display: flex;
    flex-wrap: wrap; 
    display: grid;
    grid-template-columns: 1fr 1fr;
     margin-top: 20px;
     width: 50%;
  }
  .label-input label {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
   
  }

  .checkbox-input {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
    background-color: #712727;
  border: 2px solid #ccc; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  .button-file{
    width: 300px;
    text-decoration: none;
    border: solid 2px white;
    background-color:#1488D8;
    transform: translateY(-100px);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.1s ease-in;
    float: right;
    margin-right: 70px;
}